* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(32, 18, 105);
    font-size: 75px;
    background-color: white;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/08800aef-a1c3-4ac3-be7e-032bd085f169/d7pgwmn-d7b8b5ca-c2bb-4440-991c-91f159471152.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4ODAwYWVmLWExYzMtNGFjMy1iZTdlLTAzMmJkMDg1ZjE2OVwvZDdwZ3dtbi1kN2I4YjVjYS1jMmJiLTQ0NDAtOTkxYy05MWYxNTk0NzExNTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8FobvtrHalGQXQ2W_ci2R-Rz2FJ5CuxDSDju0p1rCiQ")
}
button {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(7, 10vmin);
    min-height: 60vh;
}

#board>div {
  height: 50px;
  width: 50px;
  background-color: pink;  
  margin: 50px;
  font-size: 40;
  text-align: center;
  vertical-align: middle;
  padding: 10px, 10px;
}

.answerBoard {
    display: flex;
    flex-direction: row;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.box {
    height: 40px;
    width: 40px;
    background-color: lightgray;
    border: 1px solid black;
    margin: 0 5px;
    justify-content: center;
    font-size: 30px;
    display: flex;
    align-items: center;
  }